{% load tailwind_tags %} {% load humanize %} {% load static %} {% load django_htmx %}
<!doctype html>
<html
  lang="en"
  x-data="{ theme: localStorage.getItem('theme') || 'dark' }"
  :data-theme="theme"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruet CampusConnect</title>
    <script src="{% static 'campus/js/htmx.min.js' %}" defer></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link rel="stylesheet" href="{% static 'campus/css/style.css' %}" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <script>
      function toggleProseInvert(theme) {
        var divs = document.querySelectorAll("div.prose");
        divs.forEach(function (div) {
          if (theme === "dark") {
            div.classList.add("prose-invert");
          } else {
            div.classList.remove("prose-invert");
          }
        });
      }

      (function () {
        var theme = localStorage.getItem("theme");
        if (theme) {
          document.documentElement.setAttribute("data-theme", theme);
        }
      })();
    </script>

    {% django_htmx_script %} {% tailwind_css %} {% tailwind_preload_css %}
  </head>
  <body
    class="bg-[--background] text-[--foreground]"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >
    {% include 'campus/navbar.html' %}
    <main class="mt-16">
      <div class="mx-auto my-4 w-[640px]">
        <div id="search-results">
          <!-- {% include 'campus/_search_results.html' %} -->
        </div>
      </div>
      
      {% if messages %} 
        <div class="m-2 rounded-md text-center bg-accent text-accent-foreground border-2 border-primary">
          {% for message in messages %} 
            {{ message }} 
          {% endfor %}
        </div> 
      {% endif %}
      
      <div class="flex flex-col items-center justify-center">
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      toggleProseInvert(localStorage.getItem("theme"));
    });
  </script>
</html>
