{% load humanize %} {% load static %}
<div class="flex py-2 px-2">
  <div class="flex flex-col justify-center items-center flex-shrink-0">
    <a href="{% url 'profile' %}">
      <img
        alt="Avatar"
        class="w-8 rounded-full"
        src="{{ comment.author.profile.image.url }}"
      />
    </a>
    <div class="border-[1px] h-full my-2 border-border"></div>
  </div>
  <div class="flex flex-col mx-4">
    <div class="text-xs font-semibold">
      <a href="{% url 'profile' %}">{{ comment.author.username }}</a>
      <span> · </span>
      <span class="text-muted-foreground">{{ comment.date_posted|naturaltime }}</span>
    </div>
    <div class="prose prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-base prose-h1:font-bold prose-headings:mt-0 prose-headings:mb-4">
        {{ comment.content|safe }}
    </div>
    <div class="flex gap-2">
      <div class="flex">
        {% include 'campus/comment_vote.html' %}
      </div>
      <div class="text-xs text-muted-foreground">
        <button class="px-2 rounded-lg hover:bg-accent">Reply</button>
        <button class="px-2 rounded-lg hover:bg-accent">Share</button>
      </div>
    </div>
  </div>
</div>
