{% load humanize %} {% load static %} {% load custom_tags %}
<div class="w-full m-4 bg-[--card] rounded-md px-4 py-2">
  <div class="flex gap-1 text-sm">
    <a href="">
      <img class="w-8 rounded-full" src="{{ post.thread.image.url }}" />
    </a>
    <a class="font-bold px-2" href="{% url 'campus-thread' post.thread %}">r/{{ post.thread }}</a>
    <span class="">•</span>
    <span class="">Posted by</span>
    <div class="">
      <div>
        <a>u/{{ post.author }}</a>
      </div>
    </div>
    <span>{{ post.date_posted|naturaltime }}</span>
  </div>
  <div class="">
    <div class="">
      <a href="{% url 'post-detail' post.id %}">
        <h2 class="py-2 text-xl font-semibold">
          {{ post.title }}
        </h2>
      </a>
      <hr class="bg-[--muted] text-[--muted] h-[2px] border-none" />
    </div>
    <div>
      <a>
        <div class="overflow-y-hidden min-h-12 relative my-2 text-muted-foreground {{height}} w-full fade-out">
          <div class="">
            <div id="post-content" class="prose max-w-none prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-h4:text-base prose-headings::font-bold prose-headings:mt-0 prose-headings:mb-4">
              {{ post.content|safe }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="flex justify-between items-center text-muted-foreground font-bold">
    {% include 'campus/vote.html' %}
    <div>
      <a href="{% url 'post-detail' post.id %}">
        <button class="btn btn-outline">
          <span>{{ post.comments.count }} comments</span>
        </button>
      </a
      >
    </div>
    <div>
      <a href="{% url 'post-detail' post.id %}">
        <button class="btn btn-ghost">
          Share
        </button>
      </a
      >
    </div>
    <div>
      {% if post.author == user %}
      <a href="{% url 'post-update' post.id %}">
        <button class="btn btn-link">
          Edit
        </button>
      </a>
      {% endif %}
    </div>
  </div>
</div>
