{% extends "campus/base.html" %} {% load humanize %} {% load static %} 
{% load widget_tweaks %} {% load partials %} {% block content %}


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<style>

.ql-container.ql-snow {
  background-color: var(--card);
  color: var(--card-foreground);
  border: 1px solid var(--border);
  height: 100px;
}

.ql-picker.ql-expanded .ql-picker-options {
  color: var(--card-foreground) !important;
  background-color: var(--card);
}

.ql-toolbar.ql-snow{
  background-color: var(--secondary);
  color: var(--foreground);
  border: 1px solid var(--border);
}

.ql-toolbar.ql-snow .ql-picker,
.ql-toolbar.ql-snow .ql-picker-label {
  color: var(--foreground) !important;
}

.ql-editor.ql-blank::before {
  color: var(--muted-foreground);
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--primary) !important;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--primary) !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--primary) !important;
}


</style>

<div class="mx-4 grid max-w-[800px] grid-cols-1 justify-items-center">
  {% include "campus/post_card.html" with height="max-h-fit" %}
  <hr />
  <div class="my-2 w-full rounded-md bg-card py-4 text-card-foreground">
    <form
      id="comment-form-id"
      method="post"
      class="px-10 flex flex-col gap-2"
      hx-post="{% url 'add-comment' object.id %}"
      hx-target="#all-comment-div"
      hx-swap="afterbegin"
    >
      {% csrf_token %} 
      
      {% render_field comment_form.content class="absolute -z-10 w-0 h-0 resize-none bg-transparent border-none" %}
        <div id="comment-field">
        </div>
        <button class="hover:bg-[--primary]/90 inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-[--primary] px-4 py-2 text-sm font-semibold text-[--primary-foreground] shadow transition-colors focus-visible:outline-none focus-visible:ring-1">
          Submit
        </button>
    </form>
  </div>
  <div
    id="all-comment-div"
    class="my-2 w-full rounded-md bg-card py-4 text-card-foreground"
  >
    {% for comment in object.comments.all %} 
      {% partialdef comment-partial inline=True %} 
        {% include "campus/comment.html" %} 
      {% endpartialdef %} 
    {% endfor %}
  </div>
</div>
<script>
  function showAlert(message) {
    document.getElementById('alertMessage').textContent = message;
    document.getElementById('customAlert').style.display = 'block';
  }
  var quill = new Quill("#comment-field", {
      modules: {
        toolbar: [
          [{font: []}, {header: [1, 2, 3, false]}],
          ['bold', 'italic', 'underline'],
          [{ script: "super" }, { script: "sub" }],
          [{ header: "1" }, { header: "2" }, "blockquote", "code-block"],
          ["link", "image"],
          [
              { list: "ordered" },
              { list: "bullet" },
              { indent: "-1" },
              { indent: "+1" },
          ],
          ['formula'],
          ["clean"],
        ]
      },
      placeholder: 'What\'s your thoughts...',
      theme: 'snow'  // or 'bubble'
  });
  quill.on('text-change', function() {
    var content = document.querySelector("textarea[name=content]");
    content.value = quill.root.innerHTML;
  });
  document.body.addEventListener('htmx:beforeRequest', function (event) {
    if (quill.getText().trim() === '' || quill.root.innerHTML === '<p><br></p>') {
      event.preventDefault();
      showAlert('Please enter some content before submitting.');
    } else {
      quill.setText("");
    }   
  });
</script>
<div id="customAlert" class="hidden fixed z-10 inset-0 my-36 overflow-auto bg-transparent">
  <div class="bg-background m-auto p-5 border border-border rounded-3xl w-4/5 md:w-1/2 lg:w-1/3">
    <p id="alertMessage" class="mb-4 text-destructive">Please enter some content before submitting.</p>
    <button onclick="document.getElementById('customAlert').style.display='none'" class="px-4 py-2 bg-blue-500 text-white rounded">OK</button>
  </div>
</div>
{% endblock content %}


