{% load static %}
<div class="px-2 py-4">
    <h3 class="text-xl text-muted-foreground px-4 font-thin">RECENT POSTS</h3>
    <div class="flex flex-col rounded-xl border border-border">
        <div class="flex flex-col p-2 bg-background rounded-xl my-2">
            <div class="font-light">
                <a href="" class="flex items-center gap-2">
                    <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}"/>
                    <span>r/htmx</span>
                </a>
            </div>
            <div class="py-2">What UI toolkits are you all using?</div>
            <div class="flex text-sm font-light">
                <div>22 upvotes</div>
                <div class="px-2">.</div>
                <div>2 comments</div>
            </div>
        </div>
        <hr class="mx-2 border-border">
        <div class="flex flex-col p-2 bg-background rounded-xl my-2">
            <div class="font-light">
                <a href="" class="flex items-center gap-2">
                    <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}"/>
                    <span>r/archcraft</span>
                </a>
            </div>
            <div class="py-1">How can I remove or add things from panel?</div>
            <div class="flex text-sm font-light">
                <div>12 upvotes</div>
                <div class="px-2">.</div>
                <div>24 comments</div>
            </div>
        </div>
        <hr class="mx-2 border-border">
        <div class="flex flex-col p-2 bg-background rounded-xl my-2">
            <div class="font-light">
                <a href="" class="flex items-center gap-2">
                    <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}"/>
                    <span>r/htmx</span>
                </a>
            </div>
            <div class="py-1">What UI toolkits are you all using?</div>
            <div class="flex text-sm font-light">
                <div>22 upvotes</div>
                <div class="px-2">.</div>
                <div>2 comments</div>
            </div>
        </div>
        <hr class="mx-2 border-border">
        <div class="flex flex-col p-2 bg-background rounded-xl my-2">
            <div class="font-light">
                <a href="" class="flex items-center gap-2">
                    <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}"/>
                    <span>r/archcraft</span>
                </a>
            </div>
            <div class="py-1">How can I remove or add things from panel?</div>
            <div class="flex text-sm font-light">
                <div>12 upvotes</div>
                <div class="px-2">.</div>
                <div>24 comments</div>
            </div>
        </div>
        <hr class="mx-2 border-border">
        <div class="flex flex-col p-2 bg-background rounded-xl my-2">
            <div class="font-light">
                <a href="" class="flex items-center gap-2">
                    <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}"/>
                    <span>r/htmx</span>
                </a>
            </div>
            <div class="py-1">What UI toolkits are you all using?</div>
            <div class="flex text-sm font-light">
                <div>22 upvotes</div>
                <div class="px-2">.</div>
                <div>2 comments</div>
            </div>
        </div>
        <hr class="mx-2 border-border">
        <div class="flex flex-col p-2 bg-background rounded-xl my-2">
            <div class="font-light">
                <a href="" class="flex items-center gap-2">
                    <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}"/>
                    <span>r/archcraft</span>
                </a>
            </div>
            <div class="py-1">How can I remove or add things from panel?</div>
            <div class="flex text-sm font-light">
                <div>12 upvotes</div>
                <div class="px-2">.</div>
                <div>24 comments</div>
            </div>
        </div>
    </div>
</div>