{% load tailwind_cli  %}
{% load static %}
<!DOCTYPE html>
<html lang="en"
      x-data="{ theme: localStorage.getItem('theme') || 'dark' }"
      :data-theme="theme"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} CampusConnect {% endblock %}</title>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'htmx.min.js' %}" defer></script>

    {% tailwind_css %}

    {% block head %}
    {% endblock %}

    <!-- JS to set theme -->
    <script>
        (function () {
            let theme = localStorage.getItem("theme");
            if (theme === "dark" || theme === "light") {
              document.documentElement.setAttribute("data-theme", theme);
            }
            else {
              localStorage.setItem("theme", "dark");
              document.documentElement.setAttribute("data-theme", "dark");
            }
        })();
    </script>
    <style>
        [x-cloak] { display: none !important; }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-background text-foreground h-screen overflow-hidden">
    {% include 'campus/header.html' %}
    <div class="flex flex-col items-center justify-center">
        <-- Page content -->
        <div class="mt-12 w-full">
            {% if messages %}
                <div class="">
                    {{ message.tags }}
                    {{ message }}
                </div>
            {% endif %}

            <div id="search-results" class="bg-card">
            </div>

            {% block content %}{% endblock %}


        </div>
    </div>


    {% block scripts %}
    {% endblock %}

</body>
</html>