{% extends 'base.html' %}

{% block content %}

    <div class="container flex justify-center flex-row">
        <div class="basis-1/4">
            <div class="rounded-xl bg-card m-4 h-screen overflow-y-auto">
                <div class="pb-28">
                    {% include 'campus/left_bar.html' %}
                </div>
            </div>
        </div>
        <div class="basis-2/4">
            <div class="w-[800px] h-screen overflow-y-auto no-scrollbar">
                <div class="pb-20">
                    {% for post in posts %}
                        <div class="">
                            {% include 'posts/post_card.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="basis-1/4">
            <div class="rounded-xl bg-card h-screen overflow-y-auto m-4">
                <div class="pb-28">
                    {% include 'campus/right_bar.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
