{% load lucide %} {%load static %}
<nav class="box-border flex w-full flex-col">
    <div class="bg-base-100 my-4 rounded-xl shadow-sm">
        <ul class="flex flex-col">
            <li class="bg-base-300 flex items-center gap-2 rounded-lg px-4 py-3">
                {% lucide "house" size=24 class="text-base-content" %}
                <span>Home</span>
            </li>

            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-3">
                {% lucide "trending-up" size=24 class="text-base-content" %}
                <span class="">Popular</span>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-3">
                {% lucide "list-check" size=24 class="text-base-content" %}
                <span class="">All</span>
            </li>
        </ul>
    </div>
    <hr class="bg-base-300 text-base-300 my-2 h-[1.5px] border-none" />
    <div class="pt-2">
        <h3 class="text-base-content/70 px-4 text-lg font-thin">RECENT</h3>
        <ul class="bg-base-100 border-base-300 my-4 rounded-xl border">
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/golang</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/python</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/javascript</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/rust</a>
            </li>
        </ul>
    </div>
    <hr class="bg-base-300 text-base-300 mx-2 h-[1.5px] border-none" />
    <div class="pt-4">
        <h3 class="text-base-content/70 px-4 text-lg font-thin">COMMUNITIES</h3>
        <ul class="bg-base-100 border-base-300 my-4 rounded-xl border">
            <li class="hover:bg-base-200 rounded-lg px-4 py-2">
                <a href="{% url 'thread-create' %}" class="flex items-center gap-2">
                    {% lucide "plus" size=32 class="text-base-content" %}
                    <span class="font-semibold">Create a community</span>
                </a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/programming</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/linux</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/opensource</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/technology</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/programmingtools</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/programminghumor</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/learnpython</a>
            </li>
            <li class="hover:bg-base-200 flex items-center gap-2 rounded-lg px-4 py-2">
                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}" />
                <a class="" href="">r/cs</a>
            </li>
        </ul>
    </div>
</nav>
<hr class="bg-base-300 text-base-300 mx-2 h-[2px] border-none" />
