{% extends 'campus/base.html' %}

{% block content %}
    <div class="container flex justify-center flex-row">
        <div class="basis-1/4">
            <div class="rounded-xl bg-card m-4 h-screen overflow-y-auto">
                <div class="pb-28">
                    {% include 'campus/left_bar.html' %}
                </div>
            </div>
        </div>
        <div class="basis-2/4">
            <div class="h-screen overflow-scroll no-scrollbar">
                <div class="container flex flex-row gap-4 justify-center">
                    <div class="w-[500px] bg-secondary mt-4 p-4 rounded-2xl">
                        <div class="flex flex-col items-center justify-between">
                            <div class="p-2">
                                <img src="{{ user.profile.image.url }}" class="rounded-full w-32 h-32 border-ring border-4"
                                     alt="profile picture">
                            </div>

                            <div class="">
                                <h2 class="text-primary font-semibold text-2xl tracking-wider">{{ user.first_name }} {{ user.last_name }}</h2>
                                <h3 class="text-secondary-foreground text-xl text-center">@{{ user.username }}</h3>
                            </div>

                            <div class="">
                                <h3 class="text-secondary-foreground text-lg"> {{ user.email }} </h3>
                            </div>


                            <div class="">
                                <ul>
                                    <a href="{{ user.profile.social_links.linkedin }}" class="btn btn-link">LinkedIn</a>
                                    <a href="{{ user.profile.social_links.github }}" class="btn btn-link">Github</a>
                                    <a href="{{ user.profile.social_links.twitter }}" class="btn btn-link">Twitter</a>
                                    <a href="{{ user.profile.social_links.facebook }}" class="btn btn-link">Facebook</a>
                                    <a href="{{ user.profile.social_links.instagram }}" class="btn btn-link">Instagram</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-4 mx-4">
                    <div class="flex flex-row rounded-xl justify-center gap-8 p-2 bg-card">
                        <a href="" class="btn btn-link font-bold text-lg">Posts</a>
                        <a class="btn btn-link text-base">Comments</a>
                        <a class="btn btn-link text-base">Upvoted</a>
                        <a class="btn btn-link text-base">Downvoted</a>
                    </div>
                </div>

                <div class="">
                    <div class="pb-20">
                        {% for post in posts %}
                            <div class="">
                                {% include 'posts/post_card.html' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="basis-1/4">
            <div class="rounded-xl bg-card m-4 border border-border">
                <div class="flex flex-col justify-center my-4 p-4">
                    <div class="mb-4">
                        <div class="w-full text-left py-2">
                            <h3 class="text-xl">Address</h3>
                            <p>{{ user.profile.address }}, {{ user.profile.city }}, {{ user.profile.country }}</p>
                        </div>
                        <div class="w-full text-left">
                            <h3 class="text-xl">Bio</h3>
                            {% if user.profile.bio == "" %}
                                <p class="text-secondary-foreground my-1">You got to add some bio.</p>
                            {% else %}
                                <p class="text-secondary-foreground my-1"> {{ user.profile.bio }} </p>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="border-secondary">
                    <div class="m-2 mb-4 flex justify-between">
                        <div class="flex flex-col">
                            <span>1</span>
                            <span class="text-sm">Post Karma</span>
                        </div>
                        <div class="flex flex-col">
                            <span>1</span>
                            <span class="text-sm">Comment Karma</span>
                        </div>
                        <div class="flex flex-col">
                            <span>{{ user.profile.birth_date }}</span>
                            <span class="text-sm">Cake Day</span>
                        </div>
                    </div>
                    <button>
                        <a class="btn btn-primary" href="update/">Update Profile</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
