{% extends 'campus/base.html' %}

{% block title %}SignUp-CampusConnect{% endblock %}

{% block content %}
    <div class="border-2 border-[--ring] rounded-lg p-4 w-96 my-6 mx-auto shadow-lg bg-[--card] text-[--card-foreground]">
        <h2 class="text-center text-3xl font-bold mb-2">Register</h2>
        <form method="post">
            {% csrf_token %}
            {% include 'data-form.html' with form=form %}
            <button type="submit" class="btn btn-primary w-full">Submit</button>
        </form>
        <div class="text-center mt-4">
            Already signed up?
            <a class="underline text-[--primary]" href="{% url 'login' %}">Log In</a>
        </div>
    </div>

{% endblock %}