{% load tailwind_cli %} {% load django_htmx %} {% load static %}

<!doctype html>
<html lang="en" x-data="{ theme: localStorage.getItem('theme') || 'dark' }" :data-theme="theme">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} CampusConnect {% endblock %}</title>

        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% htmx_script %} {% tailwind_css %} {% block head %} {% endblock %}

        <!-- JS to set theme -->
        <script>
            (function () {
                let theme = localStorage.getItem("theme");
                if (theme === "dark" || theme === "light") {
                    document.documentElement.setAttribute("data-theme", theme);
                } else {
                    localStorage.setItem("theme", "dark");
                    document.documentElement.setAttribute("data-theme", "dark");
                }
            })();
        </script>
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
    </head>

    <body
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="bg-base-100 text-base-content flex min-h-screen flex-col"
    >
        {% include 'partials/header.html' %}
        <main class="mt-24 flex flex-1 flex-col items-center px-2 sm:px-0">
            <div id="search-results" class="w-full"></div>

            <div class="container mx-auto flex h-[calc(100vh-4rem)] flex-col gap-4 px-4 lg:flex-row">
                <!-- Left Sidebar -->
                <div class="overflow-y-auto lg:w-1/4">
                    <div class="card bg-base-200 border-base-300 border shadow-xl">
                        <div class="card-body p-6">
                            <!--prettier-ignore-->
                            {% block left_bar_content %} 
                                {% include 'campus/left_bar.html' %} 
                            {% endblock left_bar_content %}
                        </div>
                    </div>
                </div>

                <!-- Main Content -->
                <div class="space-y-4 overflow-y-auto lg:w-2/4">{% block content %}{% endblock %}</div>

                <!-- Right Sidebar -->
                <div class="mr-4 overflow-y-auto lg:w-1/4">
                    <div class="card bg-base-200 border-base-300 border shadow-xl">
                        <div class="card-body p-4">
                            <!--prettier-ignore-->
                            {% block right_bar_content %} 
                                {% include 'campus/right_bar.html' %} 
                            {% endblock right_bar_content %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% block scripts %}
        <script>
            // Your JavaScript code here
        </script>
        {% endblock %}
    </body>
</html>
