{% load widget_tweaks %}
{% if form.non_field_errors %}
    <div class="border-2 border-red-900 rounded-xl m-1 p-1 text-center text-sm text-muted-foreground">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
{% for field in form %}
    <label for="{{ field.id_for_label }}" class="mb-2">
        {{ field.label }} {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
    {% render_field field class="input mb-2" %}
    {% if field.errors %}
        <div class="border-2 border-red-900 rounded-xl m-1 p-1 text-center text-sm text-muted-foreground">
            {{ field.errors }}
        </div>
    {% endif %}
{% endfor %}
