{% load static %}
{% load humanize %}
<div class="m-4 bg-[--card] rounded-md px-4 py-2 border border-border shadow-sm">

    <!-- Post Header -->
    <div class="flex gap-1 text-sm items-center">
        <div class="flex items-center">
            <a href="{% url 'thread-detail' post.thread %}">
                            <img class="w-8 rounded-full" src="{{ post.thread.image.url }}"/>
{#                <img class="w-8 rounded-full" src="{% static 'images/thread.jpg' %}"/>#}
            </a>
            <a class="font-bold px-2" href="{% url 'thread-detail' post.thread %}">r/{{ post.thread }}</a>
        </div>
        <span class="">•</span>
        <span class="">Posted by</span>
        <div class="">
            <div>
                <a href="{% url 'profile' %}">u/{{ post.author }}</a>
            </div>
        </div>
        <span>{{ post.date_posted | naturaltime }}</span>
    </div>

    <!-- Post -->
    <div class="">
        <!-- Post Title -->
        <div class="">
            <a href="">
                <h2 class="py-2 text-xl font-semibold">
                    <a href="{% url 'post-detail' post.slug %}">
                    {{ post.title }}
                    </a>
                </h2>
            </a>
            <hr class="bg-[--muted] text-[--muted] h-[2px] border-none"/>
        </div>
        <!-- Post Content -->
        <div class="">
            <a>
                <div class="text-sm text-muted-foreground py-1" id="post-content">
                    {{ post.content}}
                </div>
            </a>
        </div>
    </div>

    <!-- Post Action Buttons -->
    <div class="flex justify-between items-center text-muted-foreground font-bold">
        {% include 'campus/vote.html' %}
        <div>
            <a href="{% url 'post-detail' post.id %}">
                <button class="btn btn-outline">
                    <span>{{ post.comments.count }} comments</span>
                </button>
            </a
            >
        </div>
        <div>
            <a href="{% url 'post-detail' post.id %}">
                <button class="btn btn-outline">
                    Share
                </button>
            </a
            >
        </div>
        <div>
            {% if post.author == user %}
                <a href="{% url 'post-update' post.id %}">
                    <button class="btn btn-outline">
                        Edit
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
</div>