{% extends "campus/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
<div class="container flex justify-center flex-row">
    <div class="basis-1/4">
        <div class="rounded-xl bg-card m-4 h-screen overflow-y-auto">
            <div class="pb-28">
                {% include 'campus/left_bar.html' %}
            </div>
        </div>
    </div>
    <div class="basis-2/4">
        <div class="h-screen overflow-scroll no-scrollbar">
            <div class="pb-28">
                <div>
                    {% include 'posts/post_card.html' %}
                </div>
                <div class="rounded-lg bg-card p-4 m-4">
                    {% include 'comments/comment_form.html' %}
                    {% if form.errors %}
                    <div class="text-red-500">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="rounded-lg bg-card p-4 m-4">
                    {% for comment in comments %}
                        {% include 'comments/comment_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="basis-1/4">
        <div class="rounded-xl bg-secondary overflow-y-auto m-4">
            <div class="pb-28 p-2">
                <div class="px-2 py-4">
                    <h3 class="text-lg">The Go Programming Language</h3>
                    <p class="text-muted-foreground">Ask questions and post articles about the Go programming
                        language and related tools, events etc.</p>
                </div>
                <hr class="border-card border-2 my-1">
                <div class="m-2 mb-4 flex justify-between">
                    <div class="flex flex-col">
                        <span>1</span>
                        <span class="text-sm">Members</span>
                    </div>
                    <div class="flex flex-col">
                        <span>1</span>
                        <span class="text-sm">Online</span>
                    </div>
                    <div class="flex flex-col">
                        <span>10</span>
                        <span class="text-sm">Posts</span>
                    </div>
                </div>
                <hr class="border-card border-2 my-2">
                <div>
                    <h3 class="text-xl">RULES</h3>
                    <ul class="list-disc list-inside">
                        <li>Be respectful</li>
                        <li>Stay on topic</li>
                        <li>No spam</li>
                    </ul>
                </div>
                <hr class="border-card border-2 my-2">
                <div>
                    <h3 class="text-xl">MODERATORS</h3>
                    <div class="flex items center gap-2">
                        <img class="w-6 rounded-full" src="{% static 'images/thread.jpg' %}" alt="">
                        <span>u/username</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
